.log{
    margin-top: 4%;
    text-align: center;
} 

ion-icon {
    font-size: 24px;
}


.regis{
    text-align: center;
    color:#969697;
    font-family: "Gotham Light";
}

.rig{
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    display:inline;
    padding-left:3px;
    
}


a{
    color: #5272a4;
}

.foot{
    font-size: 0.8rem;
    color: #5272a4;
    bottom: 0;
    position: absolute;
}

.btn{
    text-align: center;
}