<ion-header no-border>
    <ion-toolbar color="ligth">
      <ion-row>
        <ion-col class="log">
            <img src="../../assets/LOGO.png">
      </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>   
  <ion-col size-xm="12" size-sm="4" offset-sm="4">
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col size-xm="12" size-sm="4" offset-sm="4">
  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
</ion-col>
</ion-row>
&nbsp;&nbsp;
<ion-row class="btn">
  <ion-col size-xm="12" size-sm="4" offset-sm="4">
        <ion-button fill="outline" color="dark" (click)="loginUser()">
          Entrar
        </ion-button>
    </ion-col>
    </ion-row>

</ion-grid>


<ion-footer no-border class="foot">  
    <ion-toolbar color="ligth" >
      
        <ion-row>
            <ion-col>
        <ul><li>&copy; PHILIP MORRIS INTERNATIONAL MANAGEMENT SA</li></ul>
              </ion-col>
            <ion-col class="rig"> 
                <ul>
                    
                    <li><a href="https://es.iqos.com/es">LEGAL</a></li>
                    <!--<li><a href="https://es.iqos.com/es">AVISO DE PRIVACIDAD</a></li>-->
              </ul>
              </ion-col>
            </ion-row>
    
    
    </ion-toolbar>
    </ion-footer>
</ion-content>