  <ion-content class="card-background-page">

  <ion-card>
      <img src="https://es.iqos.com/sites/g/files/hncfsx381/files/2018-11/page13_1_730x428pxNOHEETS.jpg"/>
      <div class="card-title">Gracias por haberte registrado con Iqos</div>
      <div class="card-subtitle">Revisa tu correo encotraras mas detalles</div>
    </ion-card>
  
    
  
    <ion-row>
        <ion-col text-center>
      <ion-button  fill="outline" color="dark" (click)="closeThanks()">
        Confirmar
      </ion-button>
    </ion-col>
  </ion-row>
  </ion-content>