.log{
    margin-top: 4%;
    text-align: center;
} 

.regis{
    text-align: center;
    color:#969697;
    
}

.foot{
    font-size: 0.8rem;
    color: #5272a4;
    bottom: 0;
    position: absolute;
}
